.multiselect-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .multiselect-display {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    width: 120px; /* Set a fixed width */
    text-overflow: ellipsis; /* Add this line to truncate long text */
    white-space: nowrap; /* Add this line to prevent wrapping */
    overflow: hidden; /* Add this line to hide overflow */
  }
  
  .multiselect-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    width: 200px; /* Set the same fixed width as .multiselect-display */
  }
  
  .multiselect-options label {
    display: block;
    cursor: pointer;
    margin: 0;
  }
  
  .multiselect-options input[type="checkbox"] {
    margin-right: 5px;
  }
  