{% extends 'base.html' %}

{% block title %}
Upload Data
{% endblock title %}

{% block content %}
<h1> Upload Data </h1>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/csvs/upload">Data Loader</a></li>
        </ul>
    </nav>
    <div id="logo"></div>
</header>
<form action="" method="Post" class="ui form" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="ui button primary">Confirm</button>

</form>
{% if form.errors %}
    <div class="ui error message">
        <div class="header">We found some errors</div>
        <ul class="list">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock content %}
