{% extends 'base.html' %}

{% block title %}
Main Page
{% endblock title %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/csvs/upload">Data Loader</a></li>
        </ul>
    </nav>
    <div id="logo"></div>
</header>

<div class="container">
    <h1>Sensor Data Visualizer </h1>

    <form method="GET" acton="{% url 'main_page' %}">
        {{cform.as_p}}
        {% if df_error %}
        <h1>{{df_error}}</h1>
        {% endif %}
        {{aform.as_p}}{{bform.as_p}}
        <button type="submit">Submit</button>
    </form>
    {{ chart | safe }}
</div>

<h1>Summary Statistics </h1>
<div class="container">
    {{df|safe}}
</div>

<footer>
    <p>Sensor Data Tracking - CSE 550 Group 5 </p>
</footer>

{% endblock content %}
